/* Global styles */

/* Login container styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Makes sure padding is included in the width */
  margin-top: 100px;
  margin-left: 500px;
}

/* Form container styles */
.form-container {
  max-width: 500px;
  width: 100%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

label {
  font-size: 1rem;
  font-weight: 600;
  color: #555;
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #4f9dff;
  box-shadow: 0 0 5px rgba(79, 157, 255, 0.5);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4f9dff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3381cc;
}

button:disabled {
  background-color: #b0d0f0;
  cursor: not-allowed;
}

small {
  font-size: 0.9rem;
  color: #e74c3c;
  position: absolute;
  bottom: -18px;
}


/* Paragraph */
p {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

/* Link Styling */
a {
  color: #4c6ef5;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: #3651b3;
  text-decoration: underline;
}




/* Responsive design */
@media (min-width: 768px) {
 
}

/* Additional spacing for mobile */
@media (max-width: 767px) {
  

  
}
